@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mm {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}

/* overall css here end  */

/* using nav section css here */

.menu-section {
    margin: 20px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 870px;
    margin: 0 auto;
    background-color: rgb(56, 35, 243);
}

.logo {
    width: 30%;
    padding: 20px 10px;
}

.menu {
    width: 60%;
    padding: 20px 10px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* end of nav section here  */

.player, .course {
    width: 870px;
    margin: 0 auto;
    background-color: #F3F1FF;
    padding: 10px;
}

h1 {
    font-weight: 600;
    color: #E5E5E5
}

.player-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 40px;
}

.play img {
    height: 56px;
    width: 56px;
}

.play h2 {
    font-weight: 400;
    font-size: 19px;
}

.play {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blog {
    padding: 10px;
}

.grid-blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0px;
}

.img {
    width: 177px;
    height: 177px;
}

.img img {
    width: 100%;
}

.wrapper-blog {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.course {
    padding: 20px;
    margin-top: 40px;
}

.course-img {
    width: 224px;
    height: 104px;
}

.course-img img {
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 20px;
    margin-top: 20px;
}

.course-grid {
    width: 253px;
    height: 270px;
    padding: 15px;
    box-shadow: 0px 0px 20px rgb(121, 119, 119);
    border-radius: 13px;
}

.des-course h3, .des-course p {
    margin: 20px 0px;
}

/* ---------media query--------- */

@media screen and (min-width:450px) and (max-width:768px) {
    .player, .course {
        width: 100%;
    }
    .player-section {
        grid-template-columns: 1fr 1fr;
    }
    .grid-blog {
        grid-template-columns: 1fr;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .course-grid {
        width: 80%;
        margin: 0 auto;
    }
    nav {
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .player, .course {
        width: 100%;
    }
    .player-section {
        grid-template-columns: 1fr;
    }
    .grid-blog {
        grid-template-columns: 1fr;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .course-grid {
        width: 80%;
        margin: 0 auto;
    }
    .menu {
        display: none;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu-section {
        width: 100%;
    }
    .logo {
        width: 40%;
    }
    .logo h1 {
        font-size: 20px;
        font-weight: 500;
    }
    .mm {
        display: block;
        width: 20%;
    }
    nav {
        width: 100%;
        justify-content: space-between;
    }
}